.App {
  text-align: center;
  text-size-adjust: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(3, 3, 3);
}

.App-link {
  color: #61dafb;
}

.color-nav {
  background-color: #6D7A69;
}

.light-row {
  background-color: #dfd6be;
}

.Button {
  background-color: #6D7A69;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
